@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

ul{
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  width: 1100px;
  height: 900px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  text-align: center;
}

.sidebar {
  background-color: rgb(44, 105, 236);
  grid-row: 1 / 3;
}

.header {
  padding-top: 10px;
  background-color: white;
  grid-column: 2 / 2;
  display: grid;
  width: auto;
  grid-template-rows: 50px 100px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;}

.main-content {
  background-color: rgb(217, 220, 231);
  grid-column: 2 / 2;
}

.sidebar {
  display: grid;
  grid-template-rows: 60px 240px 120px;
  gap: 25px;
}

.dashboard {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
}

.links-top {
  display: grid;
  grid-template-rows: repeat(6, 40px);
}

.links-btm {
  display: grid;
  grid-template-rows: repeat(3, 40px);
}

.link {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
}

.top, .btm {
  display: flex;
  justify-content: space-between;
}

.top-right, .top-left, .btm-right, .btm-left{
  display: flex;
  align-items: center;
}

.btm-left {
  display: grid;
  grid-template-columns: 100px 300px;
  grid-template-rows: 1fr 1fr;
}

.btm-left img {
  grid-row: 1 / 3;
}

.hi {
  grid-column: 2 / 2;
}

.company {
  grid-column: 2 / 2;
}


.main-content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-row: 1 / 3;
}

.title {
  display: flex;
  width: auto;
  height: 40px;
  align-items: end;
  justify-content: start;
  font-size: 18px;
  font-weight: 900;
}

.a-container {
  padding: 15px 15px 15px 0px;
  height: 335.5px;
}

.trends {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 320.5px;
  background-color: white;
  border-radius: 10px;
  margin-right: 15px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.cards .card {
  box-sizing: border-box;
  height: 217px;
}

.cards {
  padding: 15px;
}

.dashboard svg{
  width: 65%;
  height: 65%;
  fill: white;
  margin-left: 15px;
}

.link svg {
  width: 45%;
  height: 45%;
  fill: white;
  margin-left: 20px;
}

.link-title {
  color: white;
  text-align: start;
}

.dash-title {
  color: white;
  text-align: start;
  align-content: center;
  font-weight: 600;
}

.top-left svg {
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="search"] {
  all: unset;
  width: 500px;
  background-color: rgb(217, 220, 231);
  border-radius: 10px;
}

.top-left, .btm-left {
  padding-left: 25px;
}

.top-right {
  padding-right: 25px;
}

.top-right svg {
  height: 20px;
}

.top-right img {
  width: 50px;
}

.top-right {
  gap: 20px;
}

.btm-left img {
  width: 90px;
}

.hi {
  text-align: start;
  font-size: 12px;
  margin-top: 20px;
}

.company {
  text-align: start;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

button {
  all: unset;
  width: 80px;
  height: 35px;
  color: white;
  font-size: 13px;
  border-radius: 20px;
  background-color: rgb(44, 105, 236);
  cursor: pointer;
}

.btm-right {
  gap: 25px;
  padding-right: 25px;
}

.card {
  display: grid;
  grid-template-rows: 47px 125px 45px;
  text-align: start;
  background-color: white;
  margin-left: 2px;
  border-radius: 10px;
  background-color: rgb(231, 160, 20);
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-icons {
  display: flex;
  align-items: start;
  justify-content: end;
  background-color: white;
  padding-right: 15px;
  border-bottom-right-radius: 10px;
}

.card-icons svg {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.card-title {
  display: flex;
  align-items: end;
  background-color: white;
  padding-left: 20px;
  font-weight: 900;
  border-top-right-radius: 10px;
}

.card-description {
  background-color: white;
  padding-left: 20px;
  padding-right: 35px;
  font-size: 15px;
}

.a-content:not(:last-child) {
  border-bottom: 1px solid black;
}

.a-container .a-title{
  display: flex;
  background-color: white;
  font-size: 13px;
  height: 15px;
  text-align: start;
  align-items: end;
  font-weight: 800;
  margin-top: 10px;
}

.a-container .a-content {
  font-size: 11px;
  text-align: start;
  padding-bottom: 10px;
}

.a-card {
  border-radius: 10px;
  padding: 20px 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.trend {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  row-gap: 7px;
  column-gap: 5px;
}

.t-icon {
  grid-row: 1 / 3;
  width: 95%;
  height: 95%;
}

.t-ig {
  text-align: start;
  font-size: 14px;
  font-weight: 700;
  align-self: flex-end;
}

.t-desc {
  text-align: start;
  font-size: 13px;
  align-self: flex-start;
}

.projects .title {
  padding-left: 15px;
}

.trending .title {
  padding-bottom: 15px;
}


