@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  /* outline: 2px solid red; */
}

ul {
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  width: 1100px;
  height: 900px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  text-align: center;
}

/* .container div{
  padding: 15px;
} */

.sidebar {
  background-color: rgb(44, 105, 236);
  grid-row: 1 / 3;
}

.header {
  background-color: white;
  grid-column: 2 / 2;
  display: grid;
  width: auto;
  grid-template-rows: 50px 100px;
}

.main-content {
  background-color: rgb(187, 218, 223);
  grid-column: 2 / 2;
}

.sidebar {
  display: grid;
  /* grid-template-columns: auto; */
  grid-template-rows: 60px 240px 120px;
  gap: 25px;
}

.dashboard {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
}

.links-top {
  display: grid;
  grid-template-rows: repeat(6, 40px);
}

.links-btm {
  display: grid;
  grid-template-rows: repeat(3, 40px);
}

.link {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
}

.top, .btm {
  display: flex;
  justify-content: space-between;
}

.top-right, .top-left, .btm-right, .btm-left{
  display: flex;
  align-items: center;
}

.btm-left {
  display: grid;
  grid-template-columns: 3fr 6fr;
  grid-template-rows: 2fr 4fr;
}

.btm-left img {
  grid-row: 1 / 3;
}

.hi {
  grid-column: 2 / 2;
}

.company {
  grid-column: 2 / 2;
}


.main-content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-row: 1 / 3;
}

.title {
  width: auto;
  height: 40px;
}

.a-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 335px;
  padding: 15px;
}

.trends {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 335px;
  padding: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.cards .card {
  height: 217px;
}

.cards {
  padding: 15px;
}

.dashboard svg{
  width: 65%;
  height: 65%;
  fill: white;
  margin-left: 15px;
}

.link svg {
  width: 45%;
  height: 45%;
  fill: white;
  margin-left: 20px;
}

.link-title {
  color: white;
  text-align: start;
}

.dash-title {
  color: white;
  text-align: start;
  align-content: center;
  font-weight: 600;
}

.top-left svg {
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="search"] {
  width: 400px;
}

.top-left, .btm-left {
  padding-left: 15px;
}

.top-right svg {
  height: 20px;
}

.top-right img {
  width: 50px;
}

.top-right {
  gap: 20px;
}

.btm-left img {
  width: 90px;
}