* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 2px solid red;
}

ul {
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  width: 1100px;
  height: 900px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  background-color: rgb(44, 105, 236);
  grid-row: 1 / 3;
}

.header {
  background-color: white;
  grid-column: 2 / 2;
  display: grid;
  width: auto;
  grid-template-rows: 50px 100px;
}

.main-content {
  background-color: rgb(187, 218, 223);
  grid-column: 2 / 2;
}

.sidebar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 240px 120px;
  gap: 25px;
}

.links-top {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.links-btm {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.link {
  display: grid;
  grid-template-columns: 40px auto;
}

.top, .btm {
  display: flex;
  justify-content: space-between;
}

.top-right, .top-left, .btm-right, .btm-left{
  display: flex;
  align-items: center;
}

.btm-left {
  display: grid;
  grid-template-columns: 3fr 6fr;
  grid-template-rows: 2fr 4fr;
}

.logo {
  grid-row: 1 / 3;
  background-color: black;
}

.hi {
  grid-column: 2 / 2;
}

.company {
  grid-column: 2 / 2;
}

/* This will go away */
.btm-left {
  width: 400px;
  height: auto;
}

.main-content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-row: 1 / 3;
}

/* .announcements, .trending{
  grid-column: 2 / 2;
  display: flex;
  flex-direction: column;
} */

.title {
  width: auto;
  height: 40px;
}

/* .a-list, .trend-list{
  flex: 1;
  justify-content:space-around;
  display: flex;
  flex-direction: column;
} */

.a-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 335px;
}




