* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 2px solid red;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  width: 1100px;
  height: 900px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  background-color: rgb(44, 105, 236);
  grid-row: 1 / 3;
}

.header {
  background-color: white;
  grid-column: 2 / 2;
}

.main-content {
  background-color: rgb(187, 218, 223);
  grid-column: 2 / 2;
}